# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
jspm_packages/

# Build output
dist/
dist-ssr/
build/
out/

# Environment variables
.env
.env.*
!.env.example

# Local files
*.local
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo

# Test / coverage
coverage/
.nyc_output/
*.lcov

# Package manager
.pnpm-store/
.yarn/*
.pnp.*

# Other caches
.cache/
.parcel-cache/
.svelte-kit/
.nuxt/
.next/
.docusaurus/
.serverless/
.firebase/
.fusebox/

