* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  background: #f7f8fc;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}